@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 51 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 64%;
    --muted-foreground: 0 0% 0%;

    --accent: 51 100% 50%;
    --accent-foreground: 0 0% 0%;

    --success: 120 100% 40%;
    --success-foreground: 0 0% 0%;

    --warning: 51 100% 50%;
    --warning-foreground: 0 0% 0%;

    --sidebar-light: 0 0% 90%;
    --sidebar-dark: 0 0% 64%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 51 100% 50%;

    --radius: 0rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 51 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 64%;
    --muted-foreground: 0 0% 0%;

    --accent: 51 100% 50%;
    --accent-foreground: 0 0% 0%;

    --success: 120 100% 40%;
    --success-foreground: 0 0% 0%;

    --warning: 51 100% 50%;
    --warning-foreground: 0 0% 0%;

    --sidebar-light: 0 0% 90%;
    --sidebar-dark: 0 0% 64%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
